mixin scriptTag(url)
  - url = url || ''

  script( type="text/javascript" ).
    (function () {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '#{url}';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    })();

mixin requireTag(url)
  -if (grunt.option('prod'))
    mixin scriptTag(handler.static_url(url))

  - else 
    script( data-main!=handler.static_url(url), src!=handler.static_url('scripts/libs/requirejs/require.js'), type='text/javascript' )

mixin requireTagConfig(url)
  -if (grunt.option('prod'))
    mixin scriptTag(handler.static_url(url))

  - else 
    script( src!=handler.static_url('scripts/libs/requirejs/require.js'), type='text/javascript' )
    script( src!=handler.static_url('scripts/configs/require.js'), type='text/javascript' )
    script.
      requirejs.config({
        urlArgs: 'bust=' + (new Date()).getTime()
      });
    
      require(['#{handler.static_url(url)}']);


mixin scriptUserAgent()
  script( type='text/javascript' ).
    !function() {
      var os = '';
      var is = function(t) { return RegExp(t,"i").test(navigator.userAgent.toLowerCase());  };
      if (is('win')? 'win' : false) { document.getElementById('html').className += ' windows'; os = 'windows'; }
      if (is('Chrome')? 'chrome' : false) { document.getElementById('html').className += ' chrome ' + ((os)? os + '-' + 'chrome': ''); }
      if (is('iPhone') || is('iPad') || is('iPod') || is('android')? 'mobile-browser' : false) { document.getElementById('html').className += ' mobile-browser '; }
    }()
