// ------------------------------------------------------------------------
// buttons
// ------------------------------------------------------------------------
.button
  background #F8F8F8

  padding 7px 20px 5px
  margin 0

  border 1px solid #CCC
  font-size 15px
  line-height 17px
  min-width 70px
  box-shadow 0 1px 1px #CCC

  outline none
  color #555

  text-align center
  text-decoration none

  &:hover
    background-color #E5E5E5
    border-color #AAA
    box-shadow 0 1px 1px #AAA

  &:active
    box-shadow inset 0 1px 1px #CCC
    background #DDD

a.button
  position relative
  top 0px

.vertical-buttons
  .button
    margin 0 0 10px

.buttons
  padding 0 0 10px
  .button
    margin 0 10px 0 0
