.message
  padding 10px
  margin 0 0 10px
  background #DDD

  p
    margin 0

  ul
    padding 0 0 0 20px
    margin 0

.message-success
  @extend .message
  background #2ecc71
  border 1px solid #27ae60
  color #FFF

.message-error
  @extend .message
  background #e74c3c
  border 1px solid #c0392b
  color #FFF

.message-warning
  @extend .message
  background #f39c12 
  border 1px solid #d35400
  color #FFF
