.sp-core-demo-1{background-image:url("../sprites/core.png?7f07eb04bc");background-repeat:no-repeat}
.sp-core-demo-1{background-position:-10px -10px;width:28px;height:28px}
@media screen and (-webkit-min-device-pixel-ratio: ), screen and (min--moz-device-pixel-ratio: ),screen and (-o-min-device-piratio: ),screen and (min-device-pixel-ratio: ){.sp-core-demo-1{background-image:url("");-webkit-background-size:48px 48px;-moz-background-size:48px 48px;background-size:48px 48px}
}