// ------------------------------------------------------------------------
// forms
// ------------------------------------------------------------------------
textarea,
input
  background #FFF
  border 1px solid #CCC
  color #666
  outline none
  font-size 15px
  line-height 19px
  width 100%
  padding 5px 5px
  box-shadow inset 0 1px 2px #CCC

textarea
  height 70px

.row
  padding 10px 0

  .statement
    display block
    padding 0 0 5px

.form-buttons
  padding 10px 0

  .button
    margin 0 10px 0 0

.form-invisible
  margin 0
  padding 0
  display inline

label.error
  color _red
  font-size 13px
  padding 5px 0
  display block


// ------------------------------------------------------------------------
// bloques
// ------------------------------------------------------------------------
.block
  display block
  padding 0 0 10px
  margin 0 0 10px

  h2
    color #333
    font-size 25px
    border-bottom 2px solid #555
    margin 0 0 10px
    padding 0 0 10px
