!!!transtitional

include ../_includes/_mixins
include ../_includes/_jinja_mixins

- var custom = {}
- custom.title = [];

block variables

//if lt IE 7
  html#html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
  html#html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
  html#html.no-js.lt-ie9(lang='en')
//if IE 9
  html#html.no-js.lt-ie10(lang='en')
//[if gt IE 9]><!
html#html.no-js(lang='en')
  //<![endif]

  head
    - custom.title.push('Administrador');
    title #{custom.title.join(' - ')}
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
    meta( name='description', content='' )

    block css
      link( href=handler.static_url('styles/admin.css'), rel='stylesheet', type='text/css', media='all' )

  body
    #content
      block main
