extend _layout_mail

block css
  link( href=handler.static_url('styles/mail.css'), rel='stylesheet', type='text/css', media='all' )

  if grunt.option('prod')
    style( style='type/text' ).
      #{handler.getFile('build/static/styles/mail.css')}

block main
  - var _static_url = handler.STATIC_PATH + 'images/'

  table
    tr
      td hola mundo
        img( src!=handler.static_url('banner.jpg', _static_url) )

